/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    color: rgb(34, 34, 34);
    /* letter-spacing: -0.5px; */
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

input, textarea {
    border-radius: 8px;
    border: 2px solid;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(34, 34, 34);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(34, 34, 34);
}

body {
    margin: 0;
}

textarea {
    resize: none;
}

button,
NavLink {
    cursor: pointer;
}

img {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
