
.main-homepage-container {
    margin-top: 174px;
    /* margin-top: 104px; */
    margin-bottom: 40px;
    padding: 0 80px;
    width: 100%;
}

.main-card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
}

.empty-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-list-title {
    font-size: 24px;
}

#dispear {
    margin-top: 24px;
    height: 250px;
}

/************************* LISTING CARDS *************************/

.listing-card-link {
    box-sizing: border-box;
    display: block;
}

.listing-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 271px;
    height: 336.3px;
}

/****************** TOP PORTION OF LISTING CARD ******************/

.listing-card-innertop {
    margin-bottom: 12px;
    height: 257.3px;
    border-radius: 12px;
    width: 100%;
    background-size: cover;
}


.listing-image-inner {
    padding: 12px 12px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.listing-image-top {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.listing-image-top-button {
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.listing-image-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-button {
    background-color: white;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;
}

.listing-image-inner:hover .arrow-button {
    opacity: 0.6;
}

#arrow:hover {
    opacity: 0.9;
}

.arrow {
    height: 12px;
}

/**************** BOTTOM PORTION OF LISTING CARD ****************/

.listing-card-innerbottom {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 67px;
    width: 100%;
}

.listing-card-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 19px 19px 25px;
    row-gap: 2px;
}

.listing-info {
    line-height: 19px;
    text-size-adjust: 100%;
}

.listing-info-location {
    font-weight: 600;
    font-size: 14px;
}

.listing-info-distance {
    color: rgb(113, 113, 113);
    font-size: 14px;
}

.listing-info-cost {
    margin-top: 6px;
}

.cost-dollars {
    font-weight: 600;
    font-size: 14px;
}

.cost-night {
    font-size: 14px;
}

.listing-card-rating {
    box-sizing: border-box;
    height: 19px;
    display: flex;
    align-items: center;
}

.listing-rating-star {
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
}

.listing-rating-avg {
    height: 19px;
    margin-left: 4px;
    font-size: 14px;
}
