#modal {
    position: fixed;
    top: 0%;
    left: 50%;
    margin-right: -175px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#modal-background {
    position: fixed;
    /* height: 100px; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    position: absolute;
    background-color: white;
    /* background-color: red; */
    border-radius: 12px;
    width: 350px;
    padding: 20px;
}
