
#hidden-toolbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
    background-color: white;
    z-index: 3;
    visibility: hidden;
}

/****************************** COLUMN CONTAINER ******************************/

.listing-details-container {
    width: 1120px;
}

/************************* TITLE AND REVIEWS/LOCATION *************************/

.listing-details-header {
    margin-top: 24px;
}

.listing-title {
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 4px;
}

.review-location-save {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heart {
    height: 16px;
}

.save-span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.listing-star {
    height: 14px;
}

.rev-loc-span {
    font-size: 14px;
    font-weight: 600;
}

.rev-location {
    display: flex;
    align-items: center;
}

#middot {
    padding: 0 4px;
    font-weight: 700;
}

.review-listing{
    margin-left: 4px;
}

.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 34px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
}

.save-button:hover {
    background-color: rgba(221, 221, 221, 0.3);
}

/******************************* PHOTOS SECTION *******************************/

.listing-photos-outer-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.listing-details-photos {
    margin-top: 24px;
    width: 100%;
    height: 300px;
}

.main-listing-image {
    height: 300px;
    width: 556px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.right-listing-image-grid {
    height: 300px;
    width: 556px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.listing-image {
    height: 146px;
    width: 100%;
    object-fit: cover;
}

.listing-image-righttop {
    border-top-right-radius: 16px;
}

.listing-image-rightbottom {
    border-bottom-right-radius: 16px;
}

/********************** TITLE TO AMENITIES AND BOOKINGS ***********************/

.listing-details-middle-container {
    /* display: table; */
    display: flex;
    width: 100%;
    padding: 48px 0;
}

.listing-details-middle-left {
    width: 653.328px;
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
}

.listing-details-booking-right {
    width: 466.656px;
    /* border: 2px red solid; */
    /* display: table-cell; */
}

.mid-left {
    border-bottom: 1px solid rgb(221, 221, 221);
}

/******************************* TITLE SECTION *******************************/

.middle-title-section {
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.title-below-pictures {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
    margin: 0 0 8px;
}

.user-icon-image {
    height: 56px;
    border-radius: 50%;
}

.bed-bath-span {
    font-size: 16px;
}

/******************************* PERKS SECTION ********************************/

.middle-perks-section {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

.perk-icon {
    height: 24px;
}

.perk-details {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.each-perk {
    display: flex;
}

.perk-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    /* line-height: 20px; */
}

.perk-description {
    line-height: 20px;
    color: rgb(113, 113, 113);
}

.upper-perk {
    margin-bottom: 24px;
}

/***************************** PEARCOVER SECTION ******************************/

.middle-pearcover-section {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
}

#pearcover {
    height: 40px;
    width: 179.47px;
    margin-bottom: 16px;
}

.pearcover-description {
    font-size: 16px;
}

.middle-description-section {
    padding: 32px 0;
    font-size: 16px;
}

/***************************** AMENITIES SECTION ******************************/

.middle-amenities-section {
    padding: 48px 0 0;
}

#amenities {
    padding: 0 0 24px;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.construction {
    width: 400px;
    margin-left: 125px;
}


/****************************** BOOKINGS SECTION ******************************/


.sticky-booking-container {
    margin-left: 93.328px;
    width: 371.328px;
    height: 226px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border-radius: 12px;
    position: sticky;
    top: 128px;
    padding: 24px;
}

.booking-container {
    width: 100%;
    height: 100%;
}

.booking-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

#cost-booking {
    font-size: 22px;
    font-weight: 600;
}

#night-booking {
    margin-left: 3px;
    font-size: 16px;
}

#booking-star {
    height: 12px;
}

#booking-review-avg {
    margin-left: 4px;
    font-weight: 600;
}

#booking-num-reviews {
    color: rgb(113, 113, 113);
    font-weight: 600;
}

.booking-calendar {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    margin-bottom: 16px;
    border-radius: 8px;
    display: flex;
}

.booking-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.calendar-inner {
    width: 50%;
    display: block;
    position: relative;
}

.left-inner-calendar {
    border-right: 1px solid rgb(221, 221, 221);
}

#booking-checkin {
    width: 100%;
    height: 55px;
    border: none;
    padding: 26px 12px 10px;
    background-color: transparent;
}

#booking-checkin:focus {
    outline: solid rgb(34, 34, 34);
    border-radius: 8px;
}

.checkin-upper-text {
    position: absolute;
    top: 12px;
    left: 12px;
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-size: 10px;
}

#submit-booking {
    width: 100%;
    padding: 14px 24px;
    border-radius: 8px;
    border: none;
    background-color: #6e9e00;
    color: white;
    font-size: 16px;
    font-weight: 600;
}


/****************************** REVIEWS SECTION *******************************/

.listing-details-reviews {
    padding: 48px 0;
    border-top: 1px solid rgb(221, 221, 221);
    /* border-bottom: 1px solid rgb(221, 221, 221); */
}

.review-section-star {
    height: 16px;
    margin-right: 8px;
}

.review-section-avg {
    font-size: 22px;
    font-weight: 600;
}

#rev-middot {
    font-size: 22px;
    font-weight: 600;
    margin: 0 6px;
}

#reviews {
    margin: 0 0 32px;
}

.review-breakdown-section {
    margin-bottom: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.specific-review-stat {
    display: flex;
    margin-bottom: 16px;
}

.specfic-stat-breakdown {
    display: flex;
    align-items: center;
}

.specific-stat-title {
    width: 296.9px;
    margin-right: 12px;
    font-size: 16px;
}

.stat-container {
    margin-right: 10px;
    width: 121.2px;
    height: 4px;
    background-color: rgb(221, 221, 221);
    border-radius: 2px;
}

.stat-distribution {
    background-color: rgb(34, 34, 34);
    height: 4px;
    border-radius: 2px;
}

.stat-number {
    font-size: 12px;
    font-weight: 600;
}

.reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    row-gap: 40px;
    margin-top: 24px;
}

.single-review-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 94.656px;
}

.single-review-title {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}

.user-icon-single-review {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.single-review-user {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.single-review-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}

.single-review-date {
    font-size: 14px;
    color: rgb(113, 113, 113);
}

.single-review-body {
    font-size: 16px;
    line-height: 24px;
}

/******************************* WHERE SECTION ********************************/

.listing-details-where {
    padding: 48px 0;
}
